#Contents {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.topProdBox{
  width: 1440px;
  margin: 0 auto;
}

.topProdInfo{
  width: 484px;
  height: 380px;
  float: left;
  text-align: left;
  margin-left: 90px;
  padding-top: 30px;
}

.topProdBoxTxt1 {
  font-size: 16px;
}
.topProdBoxTxt2 {
  font-size: 50px;
  font-weight: bold;
  line-height: 50px;
  padding-bottom: 20px;
}
.topProdBoxTxt3 {
  font-size: 40px;
  padding-bottom: 10px;
  padding-left: 6px;
}
.topProdBoxTxt4 {
  font-size: 16px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.topProdBoxcolors{
  padding-bottom: 20px;
  padding-left: 6px;
}
.topProdBoxPrice {
  display: inline-block;
  font-size: 40px;
  padding-right: 25px;
  padding-left: 5px;
}
.topProdBoxBuyBtn {
  display: inline-block;
  background-color: #000000;
  color: white;
  width: 170px;
  height: 41px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-radius: 20px;
  line-height: 41px;
  vertical-align: 11px;
}
.topProdBoxTxt5 {
  font-size: 13px;
  line-height: 40px;
  padding-bottom: 20px;
  padding-right: 20px;
}






.prodList{
}






.contentsBottom {
  width: 1254px;
  height: 335px;
  background-color: #F8F8F9;
  margin: 0 auto;
}

.contentsBottomEmailBox{
  width: 507px;
  height: 232px;
  margin: 0 auto;
}

.contentsBottomEmailTxt1{
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 40px;
}
.contentsBottomEmailTxt2{
  font-size: 14px;
  padding-bottom: 50px;
}

.contentsBottomEmailInput {
  padding: 0 2em;
  height: 41px;
  width: 507px;
  border-style: solid;
  border-radius: 20px;
  border-color: #BFBFBF;
  margin-bottom: 20px;
  background-color: #F8F8F9;
}

.contentsBottomEmailBtn{
  display: inline-block;
  background-color: #FFC700;
  color: black;
  width: 507px;
  height: 41px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-radius: 20px;
  line-height: 41px;
  vertical-align: 11px;
}



/* prodList */
.prodListBox {
  width: 1291px;
  margin: 0 auto;
  display: inline-block;
  margin-top: 50px;
}

.prodList{
  align-items: center;
  text-align: center;
}

/* prodList Items */
.prodListItemBox {
  display: inline-block;
  width: 393px;
  height: 560px;
  background-color: #F8F8F9;
  float: left;
  margin: 18.5px;
  text-align: left;
}

.itemImage {
  margin: 10px;
  width: 100%;
  text-align: center;
}

.itemInfoBox{
  display: inline-block;
  position: relative;
  text-align: left;
  width: 100%;
}

.itemProd{
  position: absolute;
  margin-left: 49px;
  margin-top: 339px;
  font-size: 50px;
  font-family: -apple-system;
}

.itemComm{
  position: absolute;
  margin-left: 52px;
  margin-top: 395px;
  font-size: 14px;
}

.itemPrice {
  position: absolute;
  margin-left: 52px;
  margin-top: 475px;
  font-size: 25px;
  font-weight: bold;
  color: #9D8220;
}

.itemBuynow{
  position: absolute;
  display: inline-block;
  background-color: #000000;
  color: white;
  width: 145px;
  height: 41px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-family: Montserrat;
  border-radius: 20px;
  line-height: 41px;
  vertical-align: 11px;
  margin-left: 171px;
  margin-top: 469px;
}

.itemBuynow:hover {
  cursor: pointer;
  transform: translateY(-2px);
  box-shadow: 0 10px 20px -10px rgba(24, 90, 219, 0.6);
}