.Footer{
    height: 350px;
    background-color: #2B2835;
    color: white;
}

.footerBox {
    display: block;
    width: 1440px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 40px;
}



.footerLogoBox{
    width: 270px;
    float: left;
    text-align: center;
}
.footerProductsBox{
    width: 250px;
    float: left;
}
.footerSupportsBox{
    width: 350px;
    float: left;
}
.footerCompanysBox{
    width: 250px;
    float: left;
}
.footerFollowUsBox{
    width: 270px;
    float: left;
}
.footerTitle {
    font-size: 24px;
    font-weight: bold;
}

.footerList{
    list-style: none;
    padding-left: 0;
}
.footerList li{
    font-size: 12px;
    line-height: 22px;
    padding: 0;
    margin: 0;
}




.footerFollowUsTitle{
    margin-bottom: 30px;
}



.copyright{
    display: inline-block;
    margin: 0 auto;
    color: white;
    width: 1440px;
    text-align: center;
    font-size: 12px;
    opacity: 31%;
}