*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}
body {
}


nav.navbar {
  position: fixed;
  width: 1440px;
  float: left;
  left: 50%;
  margin-left: -720px;
  height: 78px;
  line-height: 78px;
  font-size: 15px;
  z-index: 9999;
}

.logoImg {  margin-left: 100px; vertical-align: middle; }
.menu1 {  margin-left: 120px; }
.menu2 {  margin-left: 120px; }
.menu3 {  margin-left: 120px; }
.menu4 {  margin-left: 120px; }
.search {  margin-left: 120px; }
.member {  margin-left: 40px; }
.cart {  margin-left: 40px; }

.navbarbg {
  width: 100%;
  height: 78px;
  position: fixed;
  background-color: #191720;
  opacity: 0.47;
}

.header {
  width: 100%;
  color: white;
}

.mainBannerBox{
  width: 100%;
  height: 616px;
  background-color: #2B2835;
  align-content: center;
  margin-bottom: 200px;
}

img#mainimage {
  float: left;
}
.topBanners {
  width: 1440px;
  margin: 0 auto;
}


.mainBannerTxt {
  position: absolute;
  padding-top: 199px;
  padding-left: 797px;
  float: none;
}
.mainBannerTxt1 {
  font-size: 16px;
  padding-bottom: 20px;
}
.mainBannerTxt2 {
  font-size: 40px;
  font-weight: bold;
  line-height: 40px;
  padding-bottom: 40px;
}
.buyBlock {
  padding-bottom: 10px;
}
.buyPrice {
  display: inline-block;
  font-size: 40px;
  padding-right: 25px;
}
.buyBtn {
  display: inline-block;
  background-color: #FFC700;
  color: black;
  width: 170px;
  height: 41px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-radius: 20px;
  line-height: 41px;
  vertical-align: 11px;
}
.txtPriceComm {
  color: #FFC700;
  font-size: 13px;
  line-height: 40px;
  padding-bottom: 20px;
  padding-right: 20px;
}